/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
    box-sizing: border-box;
}
* {
    margin: 0;
}
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}
input, button, textarea, select {
    font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}
#root, #__next {
    isolation: isolate;
}
/* My code */

@font-face {
    font-family: "inter"; 
    src:
      url("inter-regular-webfont.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "popins"; 
    src:
      url("poppins-regular-webfont.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

.logo-background {
    position: absolute; 
    top: 250px;
    background: rgb(82, 122, 102, 0.6); 
    display: flex;
    justify-content: center;
    width: 490px;
    font-family: "popins";
    color: aliceblue;
    font-size: 7em; 
}

body {
    background-color: #9fce6e;
    font-family: "inter";
    color: #581810;
}
form {
   font-size: 0.9em;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    max-width: 500px;
    
}
button {
    font-weight: bold;
  
    color: white;
    background-color: #204c0a;
  
    border: none;
    border-radius: 3px;
  
    padding: 10px 40px;
    cursor: pointer;
}
.main {
    display: flex;
}
.main-section {
    display: flex;
    flex-direction: column;
}
.main-section-head {
    background-color: #9fce6e;
    padding: 50px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: bold;
}
.main-section-body {
    background-color: #a1cca0;
    padding: 50px;
}
.main-section-footer {
    background-color:  #9fce6e;
    padding: 50px;
    height: 100%;
    flex-grow: 1;
}